/* 
▣ 실기시험 1 (40점 만점)
	- 작성자 : 최효아(5강의실)
	- 주제 : With Cat
	- 목적 : 반려동물인 고양이에 대해 설명하고자 함.
	- 기능 : 그동안 배운 HTML5와 CSS를 적용하여 작성
	*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
* {
	box-sizing: border-box;
}
[ class*="col-"] {
	float: left;
}
.row::after{
	content: "";
	clear:both;
	display: block;
}
[class*="col-"]{
	width: 100%;
}
@media screen and (min-width:600px){
	.col-m-1{width:8.33%}
	.col-m-2{width:16.66%}
	.col-m-3{width:25%}
	.col-m-4{width:33.33%}
	.col-m-5{width:41.66%}
	.col-m-6{width:50%}
	.col-m-7{width:58.33%}
	.col-m-8{width:66.66%}
	.col-m-9{width:75%}
	.col-m-10{width:83.33%}
	.col-m-11{width:91.66%}
	.col-m-12{width:100%}
}
@media screen and (min-width: 768px){
/* for desktop
*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
}
header {
	text-align: right;
	background-color: black;
	font-family: "Pacifico";
	width:100%;
	color: gold;
	letter-spacing: 0.2em;
	white-space: nowrap;
}
section article {
	width: 100%;
	border: 1px solid black;
	font-family: "Pacifico";
	height: auto;
		}
footer {
	background-color: black;
	padding: 1px;		
	color: burlywood;
	text-align: center;	
	font-family: "Pacifico";
}
article img{
	float:left;
}
@keyframes triangle3 {
	from {
		width: 0px;
		height: 0px;
		border-top: 40px solid brown;
		border-bottom: 40px solid transparent;
		border-left: 40px solid transparent;
		border-right: 40px  solid transparent;
		border-radius:50px;
	}
	30% {
		width: 0px;
		height: 0px;
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
		border-left: 40px solid antiquewhite;
		border-right: 40px solid transparent;
		border-radius:50px;
	}
	60% {
		width: 0px;
		height: 0px;
		border-top: 40px solid transparent;
		border-bottom: 40px solid sandybrown;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-radius:50px;
	}
	to {
		width: 0px;
		height: 0px;
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
		border-left: 40px solid transparent;
		border-right: 40px solid saddlebrown;
		border-radius:50px;
	}
}
.triangle3 {
	animation: triangle3 10s ease-in-out 0s infinite;
	font-size: 20px;
	color: gold;
	font-family: "Pacifico";
	line-height: 140%;
	/*text-align: center;*/
	}
iframe{
		width: 100%
	}
#nav a{
	text-decoration: none;
	color: black;
	background-color: gold;
	border: 2px solid lightgrey;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
	}
ul#nav,
ul#nav ul{
list-style-type: none;
} 	
#nav > li {
	display: inline;
	float:right;
	border: 2px solid burlywood;
	margin: 10px;
	overflow: hidden;
}
#nav > li:hover {
	font-size: 1.1em;
	box-shadow: 2px 2px 2px palegoldenrod;
	height: auto;
}
a:visited {
	color: gold;
}
table {
	border: 1px solid black;
}
tr, th, td {
	border: 1px dotted black;
	text-align: center;
}
tfoot {
	text-align: center;
}		
