/* 
▣ 실기시험 1 (40점 만점)
	- 작성자 : 최효아(5강의실)
	- 주제 : 별 헤는 밤 편지
	- 목적 : 밤 하늘을 수놓은 별을 보며 그리운 사람에게 편지를 보냄
	- 기능 : 그동안 학습한 HTML5, CSS3를 활용
	*/
* {
	box-sizing: border-box;
}
[ class*="col-"] {
	float: center;
}
.row::after{
	content: "";
	clear:both;
	display: block;
}
[class*="col-"]{
	width: 100%;
}
@media screen and (min-width:600px){
	.col-m-1{width:8.33%}
	.col-m-2{width:16.66%}
	.col-m-3{width:25%}
	.col-m-4{width:33.33%}
	.col-m-5{width:41.66%}
	.col-m-6{width:50%}
	.col-m-7{width:58.33%}
	.col-m-8{width:66.66%}
	.col-m-9{width:75%}
	.col-m-10{width:83.33%}
	.col-m-11{width:91.66%}
	.col-m-12{width:100%}
}
@media screen and (min-width: 768px){
/* for desktop
*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
}
.aa {
		position: relative;
		/*top: 50%;
		left: 50%;*/
		height: 70px;
		width: 140px;
		margin-top: 20%;
		margin-left: 40%;
		background: #eac353;
		border-radius: 3px;
	}
.bb {
		border-radius: 3px;
		border-top: 45px solid transparent;
		border-bottom: 45px solid #f7f6de;
		border-left: 70px solid #f7f6de;
		border-right: 70px solid #f7f6de;
	}
.cc{
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 3px;
		border-top: 45px solid navy;
		border-left: 70px solid transparent;
		border-right: 70px solid transparent;
		animation:dd 4s infinite;
	}
@keyframes dd{
	0%{
		border-top: 45px solid navy;
		transform:rotateX(0deg);
		transform-origin:center top;
	}
	40%, 60% {
		border-top:45px solid #fad662;
		transform: rotateX(180deg);
		transform-origin: center top;
	}
	100%{
		border-top:45px solid navy;
		transform: rotateX(0deg);
		transform-origin: center top;
	}
}
.dd {
	animation:dd 4s infinite;
}
body{
	height: 100%;
	background:radial-gradient(200% 100% at bottom center,lightslategray ,navy,#1B2947, black);
	background:radial-gradient(220% 105% at top center,black, #1B2947, navy 55%, lightslategray);
	background-attachment:fixed;
	overflow:hidden;
}
@keyframes star01{
  0%{
    transform:perspective(200px) scale(1.1);
  } 
  100%{
    transform:perspective(200px) scale(2.1);
  } 
}
.star01{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:10%;
  top:22%;
  animation:star01 10s infinite linear;
  width:1px;
  height:1px;
  background:#F7F7B6;
  border-radius:50%;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
@keyframes star02{
  0%{
    transform:perspective(200px) scale(1.1);
  } 
  100%{
    transform:perspective(200px) scale(2.5);
  } 
}
.star02{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:30%;
  top:31%;
  animation:star02 10s infinite linear;
  width:1px;
  height:1px;
  background:#F7F7B6;
  border-radius:50%;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
@keyframes star03{
  0%{
    transform:perspective(200px) scale(1.1);
  } 
  100%{
    transform:perspective(200px) scale(2.5);
  } 
}
.star03{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:25%;
  top:29%;
  animation:star03 8s infinite linear;
  width:1px;
  height:1px;
  background:#F7F7B6;
  border-radius:50%;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
@keyframes star04{
  0%{
    transform:perspective(200px) scale(1.2);
  } 
  100%{
    transform:perspective(200px) scale(2.2);
  } 
}
.star04{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:50%;
  top:22%;
  animation:star04 9s infinite linear;
  width:1px;
  height:1px;
  background:#F7F7B6;
  border-radius:50%;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
@keyframes star05{
  0%{
    transform:perspective(200px) scale(1.1);
  } 
  100%{
    transform:perspective(200px) scale(1.8);
  } 
}
.star05{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:70%;
  top:25%;
  animation:star05 11s infinite linear;
  width:1px;
  height:1px;
  background:#F7F7B6;
  border-radius:50%;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
@keyframes star06{
  0%{
    transform:perspective(200px) scale(1.1);
  } 
  100%{
    transform:perspective(200px) scale(2.1);
  } 
}
.star06{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:90%;
  top:22%;
  animation:star06 15s infinite linear;
  width:1px;
  height:1px;
  background:white;
  border-radius:50%;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
@keyframes star07{
  0%{
    transform:perspective(200px) scale(1.1);
  } 
  100%{
    transform:perspective(200px) scale(2.1);
  } 
}
.star07{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:15%;
  top:40%;
  animation:star07 20s infinite linear;
  width:1px;
  height:1px;
  background:#F7F7B6;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
@keyframes star08{
  0%{
    transform:perspective(200px) scale(1.1);
  } 
  100%{
    transform:perspective(200px) scale(1.8);
  } 
}
.star08{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:80%;
  top:30%;
  animation:star08 7s infinite linear;
  width:1px;
  height:1px;
  background:#F7F7B6;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
.star09{
  transform:perspective(200px);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:18%;
  top:25%;
  animation:star09 7s infinite ease-in-out;
  width:2px;
  height:2px;
  background:#F7F7B6;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
.star10{
  transform:scale(1.5 1.5);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:39%;
  top:25%;
  animation:star10 7s infinite ease-in-out;
  width:2px;
  height:2px;
  background:#F7F7B6;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
.star11{
  transform:scale(1.5 1.5);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:60%;
  top:28%;
  animation:star11 7s infinite ease-in-out;
  width:2px;
  height:2px;
  background:#F7F7B6;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
.star12{
  transform:scale(1.5 1.5);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:90%;
  top:40%;
  animation:star12 7s infinite ease-in-out;
  width:2px;
  height:2px;
  background:#F7F7B6;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
.star13{
  transform:scale(1.5 1.5);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:80%;
  top:45%;
  animation:star13 7s infinite ease-in-out;
  width:1px;
  height:1px;
  background:#ffffff;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
.star14{
  transform:scale(1.5 1.5);
  transform-style:preserve-3d;
  position:absolute;
  bottom:0;
  perspective-origin:50% 50%;
  left:74%;
  top:44%;
  animation:star14 7s infinite ease-in-out;
  width:2.5px;
  height:2.5px;
  background:#ffffff;
  transform-origin: 0 0 -100px;
  transform:translate3d(0,0,-100px);
}
fieldset {
	border:none;
	color: #F7F7B6;
}
form {
	width:30%;
	border:1px solid #F7F7B6;
	color: #F7F7B6;
	position:absolute;
	left:30%;
	top:70%;
	border-radius: 10px;
}