/*
▣ 실기시험 2 (40점 만점)
- 작성자 : 주요섭 (5강의실)
- 주  제 : 소프트웨어 다운로드
- 목  적 : 학원 실습에 필요한 소프트웨어를 쉽고편한 다운로드
- 기  능 : 주요 소프트웨어 다운로드홈페이지 정리 
	*/

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{ 
 	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
}

#wrapper{
	height: 895px;
	background-image: url(../img/bg_1.png);
	background-repeat: no-repeat;
}
section{
	height: 895px;
}
footer{
	margin-top: -35px;
	margin-right: 20px;
	text-align: right;
	font-size: 90%;
}
aside{
	float: right;
	width: 30%;
}

p{
	color: white;
}
#menu{
	list-style-type: none;
	margin:0px;
	margin-top:200px;
}
#menu li{
	margin-top: 20px;
	margin-bottom: 20px;
}
li:nth-child(1) > .li_img{
	position: absolute;
	right: 325px;
	top: 334px;
	transition:all 0.5s;
}
li:nth-child(2) > .li_img{
	position: absolute;
	right: 325px;
	top: 390px;
	transition:all 0.5s;
}
li:nth-child(3) > .li_img{
	position: absolute;
	right: 325px;
	top:448px;
	transition:all 0.5s;
}
li:nth-child(4) > .li_img{
	position: absolute;
	right: 325px;
	top: 503px;
	transition:all 0.5s;
}
a,a:visited{
	color: white;
	text-decoration: none;
}
#menu a, #menu a:visited{
	font-size: 25px;
	font-weight: bold;
}
#menu a:hover{
	color: darkgrey;
}
#menu > li:nth-child(3):hover > .li_img{
 right:250px;
}
#menu > li:hover > .li_img{
 right:100px;
}
article{
	clear:both;
	color: white;
	border: 1px solid transparent;
}
span{
	margin-left: 30px;
}
.articlebg_1{
	display: block;
}
.articlebg_2,.articlebg_3,.articlebg_4{
	display: none;
}
article p:nth-of-type(2){
	display: none;
}
p:nth-of-type(2) a,p:nth-of-type(2) a:visited{
	color: blue;
}
.articlebg_1 p:nth-of-type(1){
	margin-top: 220px;
	text-align: right;
	margin-right: 100px;
}
.articlebg_2 p:nth-of-type(1), .articlebg_4 p:nth-of-type(1){
	margin-top: 180px;
	margin-left: 500px;
}
.articlebg_3{
	text-align: right;
	margin-right: 70px;
}
.articlebg_3 p:nth-of-type(1){
	margin-top: 100px;
}
.articlebg_1 p:nth-of-type(2), .articlebg_3 p:nth-of-type(2){
	float: right;
	margin-right: 50px;
}
.articlebg_2 p:nth-of-type(2), .articlebg_4 p:nth-of-type(2){
	float: left;
	margin-left: 500px;
}
@media screen and (max-width:900px){
li:nth-child(1) > .li_img{
	position: absolute;
	left: 35px;
	top: 334px;
	transition:all 0.5s;
}
li:nth-child(2) > .li_img{
	position: absolute;
	left: 35px;
	top: 390px;
	transition:all 0.5s;
}
li:nth-child(3) > .li_img{
	position: absolute;
	left: 35px;
	top:448px;
	transition:all 0.5s;
}
li:nth-child(4) > .li_img{
	position: absolute;
	left: 35px;
	top: 503px;
	transition:all 0.5s;
}
#menu > li:nth-child(3):hover > .li_img{
	left:120px;
}
#menu > li:hover > .li_img{
 	left:275px;
}
aside{
	width: 100%;
	float: left
}
article{
	width: 100%;
}

.articlebg_1 p:nth-of-type(1), .articlebg_2 p:nth-of-type(1),.articlebg_3 p:nth-of-type(1), .articlebg_4 p:nth-of-type(1){
	margin-top: 65px;
	text-align: left;
	margin-left: 30px;
}
.articlebg_2 p:nth-of-type(2), .articlebg_4 p:nth-of-type(2){
	float: left;
	margin-left: 10px;
}
}
@media screen and (max-width:600px){
li:nth-child(1) > .li_img{
	position: absolute;
	left: 35px;
	top: 334px;
	transition:all 0.5s;
}
li:nth-child(2) > .li_img{
	position: absolute;
	left: 35px;
	top: 390px;
	transition:all 0.5s;
}
li:nth-child(3) > .li_img{
	position: absolute;
	left: 35px;
	top:448px;
	transition:all 0.5s;
}
li:nth-child(4) > .li_img{
	position: absolute;
	left: 35px;
	top: 503px;
	transition:all 0.5s;
}
#menu > li:nth-child(3):hover > .li_img{
	left:120px;
}
#menu > li:hover > .li_img{
 	left:275px;
}
aside{
	width: 100%;
	float: left;
}
article{
	width: 100%;
}
p:nth-of-type(1) > a{
	display: block;
}

}