article:nth-of-type(1){
    column-width:100px;
    -moz-column-width:100px;
    -webkit-column-width:100px;
    -ms-column-width:100px;
    -o-column-width:100px;

    column-rule: 1px double darkgrey;
    -moz-column-rule: 1px dotted red;
    -webkit-column-rule: 1px dotted red;
    -ms-column-rule: 1px dotted red;
    -o-column-rule: 1px dotted red;

    column-gap:10px;

    border: 1px dotted black;
    padding: 10px;
}

article:nth-of-type(2){
    column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -webkit-column-count: 4;
    -o-column-count: 4;

    column-rule: 1px double darkgrey;
    -moz-column-rule: 1px dotted red;
    -ms-column-rule: 1px dotted orange;
    -o-column-rule: 1px dotted blue;
    -webkit-column-rule: 1px dotted green;


    column-gap:40px;
}