@keyframes TextBox1 {
	from {
		color:red;
	}
	14.2857% {
		color: orange 
	}
	28.5714% {
		color: yellow;
	}
	42.8571% {
		color: green;
	}
	57.1428% {
		color : blue;
	}
	71.4285% {
		color: darkblue;
	}
	85.7142% {
		color : purple;
	}
	to {
		color: red;
	}
}

@keyframes TextBox1Grow {
	from {
		color:red;
        font-size: 100%;
	}
	14.2857% {
		color: orange 
        font-size: 125%;
	}
	28.5714% {
		color: yellow;
        font-size: 150%;
	}
	42.8571% {
		color: green;
        font-size: 175%;
	}
	57.1428% {
		color : blue;
        font-size: 175%;
	}
	71.4285% {
		color: darkblue;
        font-size: 150%;
	}
	85.7142% {
		color : purple;
        font-size: 125%;
	}
	to {
		color: red;
        font-size: 100%;
	}
}

@keyframes Noise {
	from {
        color: black;
		transform:scale(1,2) skew(0deg);
	}
	33.33% {
		color: red;
		transform:scale(2,1) skew(240deg);
	}
	66.67% {
        color: blue;
		transform:scale(1,2) skew(-240deg);
	}
	to {
        color:black;
		transform:scale(2,1) skew(0deg);
	}
}

body {
    font-family: Arial;
}

div.LogoBox {
    width:100px;
    height:100px;
    border-radius:100px;
    border: 1px solid black;
    background-size: 160px 100px;
    /*background-repeat: repeat-x;*/
    background-image: url("/img/worldmap.png");
    overflow:hidden;
    clear:both;
    float:left;
    margin: 10px;
}

fieldset:nth-of-type(1) {
    width: 700px;
}

div#TextBox1 {
    margin: 10px;
    font-size: 80px;
}

div#TextBox1 span {
    text-shadow: 2px 2px 10px black;;
}

span#ShiningText {
	animation-name: TextBox1;
    animation-iteration-count: infinite;
    animation-duration: 1000ms; 
}
span#NormalText {
    margin-top: 40px;
    font-size: 40px;
}

fieldset:nth-of-type(2) {
    width: 350px;
}

div#TextBox2 span.BFont {
    font-size: 30px;
}
div#TextBox2 span.NormalFont {
    font-size: 22px;
}

div#TextBox2 div.NoiseBox {
    position: relative;
}

div#TextBox2 #MoveTextBox2 {
    left:50px;
}
div#TextBox2 #MoveTextBox3 {
    left:100px;
}

fieldset:nth-of-type(3) {
    width: 650px;
    height: 150px;
}

div#TextBox3 {
    margin: 60px;
    font-size: 40px;
}

fieldset:nth-of-type(4) {
    width: 300px;
    height: 150px;
}

div#TextBox4 {
    margin-top: 8px;
    font-size: 30px;
}

div#TextBox4 span {
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

fieldset:nth-of-type(5) {
    width: 900px;
    height: 150px;
    padding: 20px;
    overflow:hidden;
}

div#TextBox5 {
    line-height:100px;
    font-size:60px;
}

fieldset:nth-of-type(6) {
    width: 400px;
    height: 150px;
}

div#TextBox6 {
    height:160px;
    line-height:40px;
    font-size:40px;
}