@font-face {
	font-family: 새봄체;
	src:url("../fonts/LexiSaebomR.woff");
	}

 body {
   	font-family: 새봄체;
 }

 nav a.current,
  nav a:hover {
    border-bottom: .5em solid hotpink;
    background-color: transparent;
  }


input[type="submit"] {
    background-color: hotpink;

}


a {
  text-decoration: none;

}

a:link,
.info { color: hotpink; }

span {

color: hotpink;
border-bottom: 1px dotted hotpink;
}

#sendButton {
  background-color: hotpink;
}