    div{
        width:700px;
        height:700px;
        border: 1px solid black;
        position:relative;
        overflow:hidden;
        margin:40px auto;
    }
    img{
        position:absolute;
        width:700px;
        height:700px;
        left:0;
        top:0;
    }
    .img2{
        left:700px;
    }



    @keyframes animationDiv{
        from{
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -moz-transform: translateX(0px);
        }
        to{
            transform: translateX(-700px);
            -webkit-transform: translateX(-700px);
            -ms-transform: translateX(-700px);
            -moz-transform: translateX(-700px);
        }

    }

    
    .animationDiv{
        animation-name: animationDiv;
        animation-duration:6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-direction: alternate;
    }

   