@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
*{
    font-family: 'Nanum Brush Script', cursive;
}
body{
   text-align: center;
}

textarea{
    border:3px double black;
    width:600px;
    height:600px;
}
