/*
▣실기시험 1(40점 만점)
   - 작성자 : 신한나 (5강의실)
    - 주 제 : 문서편집 및 회원가입, 로그인이 가능한 홈페이지 
    - 목 적 : javascript를 이용한 글자속성변경, 에니메이션을 이용한 움직이는 div창
    - 기 능 : 문서 편집(font size,color,background-image 변경),로그인폼,회원가입폼
*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
body{
	font-family: 'Nanum Brush Script', cursive;
	font-size: 1.1em;
}
fieldset{
    font-family: 'Jeju Gothic', sans-serif;
    line-height: 30px;
}
body{
    background-image: url('../img/texture5.png');
    background-attachment: fixed;
}
#menu{
    width:960px;
}
#menuBar{
    display: inline-block;
    width:100%;
    height:60px;
    background-color: #4374D9;
}
@keyframes returnImg{
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(-10px);
    }
}
.returnImg{
    animation-name: returnImg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#menu li{
    list-style-type: none;
    width:150px;
    height:30px;
    line-height: 30px;
    border:1px solid black;
    border-radius: 30px;
    text-align:center;
    box-shadow: 3px 3px 3px gray;
    background-color: white;
}
#menu ul{
    display:none;
}
#menu li:hover ul{
    display:block;
}
#menu>li{
    float:left;
}
#menu li li{
    margin-left:-40px;
    font-size: 0.7em;
}
#menu li li:hover {
    background-color: #6799FF;
    border-radius: 30px;
}
 #menu li :hover{
    color:white;
}
#menu>li:hover {
    background-color: #6799FF;
    border-radius: 30px;
}

#menu  a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
header{
    clear:both;
}
#notice{
    margin-top:30px;
    width:100%;
    height:590px;
}
img{
    float: left;
    margin:0px 30px;
    box-shadow: 0px 3px 5px black;
    border-radius: 10px;
}

@media screen and (max-width:600px){

    fieldset{
        width:90%;
        height:280px;
        margin:1px auto;
    }
    #menuBar{
        width:97%;
        margin-left:10px;
        margin-top:5px;
    }
    #notice{
        margin:0px;
        margin-top:30px;
        width:700px;
        height:700px;
    }
    #menu>li{
        width:14%;
    }

}

@media screen and (max-width:800px){

    fieldset{
        width:96%;
        height:160px;
    }
    #menuBar{
        width:99%;
        margin-left:10px;
        margin-top:5px;
    }
    #notice{
        margin:0px;
        margin-top:30px;
        width:700px;
        height:700px;
    }
    #menu>li{
        width:14%;
    }

}