body {
    width: 1000px;
    height: 1000px;
}

div.section {
    width: 400px;
    height: 400px;
    margin: 50px;
    clear: both;
	float: left;
}

div.section:nth-child(2n+1){
    clear: none;
}

div.section fieldset {
    height: 380px;
    border: 3px solid black;
}

div.box {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 5px solid red;
}

div.RemoteController {
    width: 220px;
    height: 380px;
    border: 1px solid black;
    position: fixed;
    bottom: 10%;
    right: 10%;
    background-color:#AAAAAA;
    z-index: 9999;
    box-shadow: 10px 10px 30px;
}

div.RemoteController fieldset {
    width: 180px;
}

div.RemoteController input {
    width: 80px;
}

div.RemoteController .ValueBox {
    width: 180px;
	clear: both;
	float: left;
}