
div.box {
	width: 100px;
	height: 100px;
	background: linear-gradient(#8aff58, transparent);
	border: 1px solid #68ffe7;

}

.move {
	/*transform: translate(100px, -50px);*/
}

.zoom {
	/*transform-origin: left top;*/
	/*transform: scale(1, 1);*/
}

.clock {
	/*transform-origin: right bottom;*/
	/*transform: rotate(45deg);*/
}

.skew {
	/*transform: skew(180deg, 0deg);*/
}

article div {
	margin: 10px;
	float: left;
}

article hr{
	clear: both;
}