.col-1d2 { width: 3.125% }
.col-1d4 { width: 1.5625% }

.col-1  { width:   6.25%; }
.col-2  { width:  12.50%; }
.col-3  { width:  18.75%; }
.col-4  { width:  25.00%; }
.col-5  { width:  31.25%; }
.col-6  { width:  37.50%; }
.col-7  { width:  43.75%; }
.col-8  { width:  50.00%; }
.col-9  { width:  56.25%; }
.col-10 { width:  62.50%; }
.col-11 { width:  68.75%; }
.col-12 { width:  75.00%; }
.col-13 { width:  81.25%; }
.col-14 { width:  87.50%; }
.col-15 { width:  93.75%; }
.col-16 { width: 100.00%; }

.row-1d4 { height: 1.5625% }
.row-1d2 { height: 3.125% }

.row-1  { height:   6.25%; }
.row-2  { height:  12.50%; }
.row-3  { height:  18.75%; }
.row-4  { height:  25.00%; }
.row-5  { height:  31.25%; }
.row-6  { height:  37.50%; }
.row-7  { height:  43.75%; }
.row-8  { height:  50.00%; }
.row-9  { height:  56.25%; }
.row-10 { height:  62.50%; }
.row-11 { height:  68.75%; }
.row-12 { height:  75.00%; }
.row-13 { height:  81.25%; }
.row-14 { height:  87.50%; }
.row-15 { height:  93.75%; }
.row-16 { height: 100.00%; }

.border-1  { border:   6.25% solid black; }
.border-2  { border:  12.50% solid black; }
.border-3  { border:  18.75% solid black; }
.border-4  { border:  25.00% solid black; }
.border-5  { border:  31.25% solid black; }
.border-6  { border:  37.50% solid black; }
.border-7  { border:  43.75% solid black; }
.border-8  { border:  50.00% solid black; }
.border-9  { border:  56.25% solid black; }
.border-10 { border:  62.50% solid black; }
.border-11 { border:  68.75% solid black; }
.border-12 { border:  75.00% solid black; }
.border-13 { border:  81.25% solid black; }
.border-14 { border:  87.50% solid black; }
.border-15 { border:  93.75% solid black; }
.border-16 { border: 100.00% solid black; }