
@keyframes selected {
	from {
		color: rgba(255, 0, 0, 0.5);
	}
	14.2857% {
		color: rgba(255, 128, 0, 0.5) 
	}
	28.5714% {
		color: rgba(255, 255, 0, 0.5);
	}
	42.8571% {
		color: rgba(128, 255, 0, 0.5);
	}
	57.1428% {
		color : rgba(0, 128, 255, 0.5);
	}
	71.4285% {
		color: rgba(0, 0, 255, 0.5);
	}
	85.7142% {
		color : rgba(192, 0, 192, 0.5);
	}
	to {
		color: rgba(255, 0, 0, 0.5);
	}
}

body {
	width: 1000px;
	padding: 10px;
	margin: 0px auto;
}

* {
	box-sizing: border-box;
}

div.HeaderMenu {
	height: 180px;
	margin-top: 10px;
	border-radius: 20px 20px 0 0;
	background-image: linear-gradient( 180deg, rgba(128,128,128, 0.5), transparent 30%);
	box-shadow: 0px 5px 5px;
	border: 1px solid rgba( 0, 0, 0, 0.25);
}

div.HeaderMenu #TopLeft {
	clear:both;
	float:left;
	width:30%;
	height:100%;
}

div.HeaderMenu #TopRight {
	clear:none;
	float:right;
	width:70%;
	height:100%;
}

div.HeaderMenu #TopRight #Member_Top span.Member_Top_Item:nth-of-type(1):before {
	content: "";
}

div.HeaderMenu #Logo{
	position: relative;
	top: 50px;
	left: 50px;
	text-align: center;
	line-height: 100px;
	width: 200px;
	height: 100px;
	font-size: 16pt;
}

	
div.HeaderMenu #Logo img {
	width: 100%;
	height: 100%;
}

div.HeaderMenu #Member_Top {
	position:relative;
	clear:both;
	float:right;	
	width:30%;
	height:15px;
	margin: 0px;
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right:30px;
}

div.HeaderMenu #Member_Top .TopMenu4Mobile {
	display: none;
}

div.HeaderMenu #Member_Top #MT_LoggedOut {
	display: none;
	text-align: right;
	padding-right: 15px;
}

div.HeaderMenu #Space {
	clear:both;
	width:100%;
	/*border:1px solid orange;*/
	height:88px;
}

div.HeaderMenu #TopMenu {
	position: relative;
	clear:both;
	float:right;	
	margin: 0px;
	margin-right: 20px;
	width:60%;
	height:60px;
}

div.HeaderMenu #TopMenu ul {
	margin: 0;
	padding: 0;
	height: 100%;
}

div.HeaderMenu #TopMenu li {
	clear: none;
	float: left;
	width: 25%;
	height: 100%;
	line-height:50px;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-image: radial-gradient( circle, rgba(0, 0, 192, 0.25), transparent 60%);
}

div.HeaderMenu #TopMenu li:hover {
	animation-name: selected;
    animation-iteration-count: infinite;
    animation-duration: 5000ms; 
}

section {
	margin-top: 10px;
	width: 100%;
	height: 800px;
}

/* Left */
aside {
	clear:both;
	float:left;
	width: 22%;
	height: 100%;
	box-shadow: 0px 5px 5px;
	border: 1px solid rgba( 0, 0, 0, 0.25);
}

aside .MemberInfo {
	width: 90%;
	height: 280px;
	margin: 5%;
	padding: 10px;
	display: block;
	border: 1px solid gray;
}

aside .MemberInfo #m_ProfileImage {
	width: 136px;
	height: 136px;
	margin: 0px auto;
	padding: 8px;
	border: 1px dotted gray;
}

aside .MemberInfo ul {
	list-style-type: none;
	padding: 0;
	margin: 10px auto;
}

aside .MemberInfo ul li {
	padding-left: 20px;	
	margin: 5px auto;
}

aside .MemberInfo li a {
	text-decoration: none;
	color: black;
}

aside .MemberInfo li a:visited {
	color: black;
}

aside .SideMenu li {
	position: relative;
	top: 20px;
	left: 15px;
	margin: 10px 0px 10px;
	width: 80%;
	font-size: 20pt;
	text-align: center;
	list-style: none;
	border: 1px solid black;
	border-radius: 0 20px 20px 0;	
	box-shadow: 5px 5px 5px;
}
aside .SideMenu li.sub {
	left: 60px;	
	width: 60%;
	margin: 4px 0px;
	font-size: 12pt;
	text-align: center;
	list-style: none;
	border: 1px solid black;
	box-shadow: 5px 5px 5px;
}

aside .SideMenu li:hover, aside .MemberInfo li a:hover, .Member_Top_Item:hover {
	animation-name: selected;
    animation-iteration-count: infinite;
    animation-duration: 5000ms; 
}

aside .SideMenu #Current {
	background-image: linear-gradient( 45deg, rgba(192, 64, 64, 0.5), rgba(32, 32, 32, 0.5) );
}

/* Right */
article {
	clear: none;
	float: right;
	width: 78%;
	height: 100%;
	box-shadow: 0px 5px 5px;
	border: 1px solid rgba( 0, 0, 0, 0.25);
}

article .Contents {
	padding: 10px 20px;
	font-size: 12pt;
}

footer {
	margin-top: 10px;
	height: 150px;
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 5px 5px;
	background-image: linear-gradient( 0deg, rgba(128, 128, 128, 0.5), transparent 30%);
	border: 1px solid rgba( 0, 0, 0, 0.25);
	position: relative;
}

footer .FooterMenu {
	clear: both;
	float: right;
	text-align: right;
	margin-right: 10px;
	width: 70%;
	height: 45px;
	padding: 0px 10px 0 10px;
	border-radius: 5px;
}

footer .FooterMenu .FooterItem {
	background-image: linear-gradient( -45deg, rgba(192, 32, 32, 0.5), transparent 20%, rgba(64, 64, 64, 0.25) 80% );
	font-size: 24px;
	height: 70%;
	border: 1px solid black;
	margin: 0 2px;
	padding: 0 5px;
	border-radius: 0 0 10px 10px;
	display:inline-block;
}

footer .CopyRight {
	position: absolute;
	bottom: 50px;
	margin-left:20%;
	width: 60%;
	text-align: center;
	/*background-color: rgba(64, 64, 64, 0.5);
	border: 1px dotted rgba(0, 0, 255, 0.5);*/
	border-radius: 5px;
}

footer .Powered {
	position: absolute;
	bottom: 15px;
	margin-left:30%;
	width: 40%;
	text-align: center;
	/*background-color: rgba(32, 32, 32, 0.5);
	border: 1px solid rgba(0, 0, 255, 0.5);*/
	border-radius: 5px;
}


/* Tablet */
@media screen and ( max-width: 768px ) {
	body {
		width: 90%;
	}
	div.HeaderMenu {
		height: 140px;
		margin-top: 5px;
		border-radius: 16px 16px 0 0;
	}

	article .Contents {
		padding: 8px 16px;
	}

	div.HeaderMenu #Logo{
		top: 30px;
		left: 30px;
		line-height: 80px;
		width: 160px;
		height: 80px;
		font-size: 12pt;
	}

	div.HeaderMenu #Member_Top {
		font-size: 12pt;
		margin-top: 15px;
	}

	
	div.HeaderMenu #Member_Top #MT_Logged span {
		clear: both;
		float: left;
	}
	
	div.HeaderMenu #Member_Top .divider {
		display: none;
	}

	div.HeaderMenu #Member_Top .TopMenu4Mobile {
		display: block;
	}

	div.HeaderMenu #TopMenu {
		display: none;
	}

	fieldset {
		background-color: burlywood;
	}
	section {
		height: 1000px;
	}
	aside {
		display: none;
	}
	article {
		width: 100%;
	}
	article .Contents {
		font-size: 11pt;
	}
	footer .FooterMenu {
		margin-right: 7.5px;
		height: 35px;
		padding: 0px 8px 0 8px;
		border-radius: 4px;
	}

	footer .FooterMenu .FooterItem {
		font-size: 20px;
		margin: 0 1.6px;
		padding: 0 4px;
		border-radius: 0 0 8px 8px;
	}
}


/* Phone */
@media screen and (max-width: 600px ) {
	div.HeaderMenu {
		height: 100px;
		margin-top: 3px;
		border-radius: 12px 12px 0 0;
	}

	article .Contents {
		padding: 6px 12px;
		font-size: 8pt;
	}

	div.HeaderMenu #Logo{
		top: 20px;
		left: 20px;
		line-height: 60px;
		width: 120px;
		height: 60px;
		font-size: 10pt;
	}

	div.HeaderMenu #Member_Top {
		font-size: 10pt;
		margin-top: 15px;
	}

	fieldset {
		background-color: darkgoldenrod;
	}
	section {
		height: 800px;
	}
	footer .FooterMenu {
		margin-right: 5px;
		height: 25px;
		padding: 0px 6px 0 6px;
		border-radius: 3px;
	}

	footer .FooterMenu .FooterItem {
		font-size: 50%;
		position: relative;
		top: -7px;
		margin: 0 1.2px;
		padding: 0 3px;
		border-radius: 0 0 6px 6px;
	}

	footer #CopyRightText, footer #PoweredText {
		width: 100%;
		font-size: 8pt;
	}
}
