/**
 ▣  실기시험 : (40점 만점)
	- 작성자 : 김진곤 (5강의실)
	- 주 제 : color picker
	- 목 적 : HTML5환경에서 색상 선택 툴을 제공한다.
	- 기 능 : 기능 : 사용자가 임의로 설정할 수 있는 사용자 팔레트 기능
			선택한 색상의 RGB값 표시 및 RGB값으로 색 선택 가능
 */

@font-face {
	font-family: 'NanumBarunGothic';
	src: url('../fonts/NanumBarunGothic.woff');
}

* {
	box-sizing: border-box;
	font-family: "Apple SD Gothic Neo", 'NanumBarunGothic', "Nanum Gothic", "serif";
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #e5ff68, #3fffd8, #86bf90) no-repeat;
	background-size: cover;

}

button#show {
	width: 200px;
	height: 70px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-100px, -35px);
}

div.colorPickerPanel {
	background: rgba(44, 44, 44, 0.7);
	width: 293px;
	border-radius: 8px;
	border:2px solid #364347;
	box-shadow: 0 4px 12px rgba(0,0,0,.4);
	position: fixed;
	left: 40%;
	top: 10%;
	padding: 5px;
}

.panelRow {
	position: relative;
	margin: 10px 10px 10px;
}

.panelRow:after {
	content: "";
	display: table;
	clear: both;
}


.swatch {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #ccc;
	border-radius: 4px;
	margin-left: 4px;
	margin-bottom: 4px;
	box-sizing: border-box;
	border: 2px solid #364347;
	cursor: pointer;
}

.defaultSwatches, .userSwatches {
	padding: 0 5px 0 5px;
}

.swatch:nth-child(7n + 1) {
	margin-left:0;
}


.spectrumPanel {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.spectrumMap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ccc;
}

.huePanel {
	position: absolute;
	top: 5px;
	bottom: 0;
	right: 20px;
	width: 14px;
}

.hueMap {
	border-radius: 8px;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ccc;
}


.spectrumPointer {
	border-radius: 100%;
	background: white;
	box-sizing: border-box;
	position: absolute;
	pointer-events: none;
	z-index: 2;
	border: 2px solid #364347;
	/*transition: all .2s ease;*/

	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	top: 0;
	left: 0;
}

.huePointer {
	border-radius: 50%;
	background: #ccc;
	box-sizing: border-box;
	position: absolute;
	pointer-events: none;
	z-index: 2;
	border: 2px solid #364347;

	top:0;
	left:50%;
	height:20px;
	width:20px;
	margin-top:-10px;
	margin-left:-10px;
}

.flexLayout {
	display: flex;
	align-items: center;
}

.rgbLabel {
	margin-right: 6px;
	color: #c5c5c5;
}

.rgbInput {
	background: #17181c;
	border: 1px solid #364347;
	box-sizing: border-box;
	border-radius: 2px;
	line-height: 38px;
	padding: 0 4px;
	text-align: center;
	color: #a2a6a8;
	font-size: 1rem;
	display: block;
	width: 59px;
	margin-right: 10px;
}


.rgbInput::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.label2 {
	font-size: 1em;
	color: #c5c5c5;
	padding: 0;
	margin: 0 -10px 0 5px;
}


.addSwatch {
	background: #2A3137;
	border: 0;
	border-radius: 4px;
	color: #8B949A;
	font-size: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	outline: none;
	cursor: pointer;

	display: block;
	padding: 5px;
	width: 246px;
	margin: 6px 6px 0;
}

.colorBox {
	display: inline-block;
	vertical-align: middle;
	border-radius: 2px;
	width:20px;
	height:20px;

	background: white;
}

.addSwatchText {
	vertical-align: middle;
}

.button {
	background: #2A3137;
	border: 0;
	border-radius: 4px;
	color: #8B949A;
	font-size: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	outline: none;
	cursor: pointer;
	padding: 4px;
	position: relative;
	right: -100px;
	top: 0;
	width: 74px;
	height: 30px;
	display: inline-block;
}

.swatchDelimiter {
	color: #364347;
	width: 95%;
	border: 1px solid #1F232A;
	margin: 0 0 4px 5px;
	padding: 0;
}

