/*
 ▣  실기시험 : (40점 만점)
	- 작성자 : 김진곤 (5강의실)
	- 주 제 : 주제 : 오디오 비주얼 이퀄라이저
	- 목 적 : 목적 : 제곧내
	- 기 능 : 기능 : 오디오 스펙트럼을 그래프형태로 나타내고 웨이브폼을 보여준다. <br>
			이퀄라이저 기능
 */

* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	background-color: #191919;
	color: white;
	width: 100%;
	height: 100%;
}

fieldset {
	margin: 5px;
	border: 2px solid #4976a8;
}

canvas {
	margin: 10px;
	width: 98%;
	height: 98%;
	display: block;
}