/*
 실기시험 2 (40점만점)
 -작성자: 이동근 (5강의실)
  -주 제 : 기본적인 웹사이트 홈페이지
 -목 적 :페이지내에서 기본적인 틀안에 다양한 시각적 효과를 표현
 -기 능 :이 페이지를 기준으로 하여 다양한 방법으로 개발가능함.
 */
 @font-face {
		font-family: 'Sucrose Bold Two';
		src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
		}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header { 
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mountain-range.jpg) no-repeat;
	padding-top: 61.93333333%;
	background-size: cover;
  font-family: 'Sucrose Bold Two';
}
header img {
	position: absolute;
	top: 0;
	right: 0;
	width: 45.8%;
}
header h1 { 
	position: fixed;
	top: 2rem;
	right: 2rem;
  font-size: 12vw;
  line-height: .8;
  margin-top: 0;
  text-align: center;
}
header h1 span {
  display: block;
  font-size: 8.75vw;
}
main { 
  position: relative;
  border: 1px solid #fff;
  font-size: 1.4rem;
  padding: 2rem 25%;
  line-height: 1.6;
  background: url(https://scontent.cdninstagram.com/t51.2885-15/e35/14145500_1068158626625701_823975587_n.jpg?ig_cache_key=MTMzMzkwNjE5NTY5NDQyNTM3MA%3D%3D.2) 0/cover;  
    height: 100vh;
    margin: 0;
}
@media all and (max-width: 400px) {
  main { padding: 2rem; }
}

input { 
    /* input색상 스타일 죽이기*/
    padding: 0;
    border: none; 
    /* input색상 컨테이너에 맟추기 */
    position: absolute;
    width: 75%; 
    height: 90%;
    /* input색상은 mix blend를 사용하면 뒷바탕색이 변한다 */
    mix-blend-mode:hue; 
    cursor: pointer;
}
h1 {
	color: white;
}
 /* input색상 스타일 죽이기*/
::-webkit-color-swatch {
    border: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}