
	/*작성자 : 김종순
	주제 :  애니매이션 
	목적 :  동작 제어
	기능 :  배경색 변경, 글자색 변경, 글자크기 변경, 글자 애니메이션 동작제어, 별 동작 제어*/


body{
	background-color: white;
}
header{
	text-align: center;
}
header div{
	display: inline-block;
	font-size: 50pt;
	margin: 0px;
}

div:nth-of-type(1){
 color: indianred;
 animation-direction: alternate;
 animation-fill-mode: forwards;
 animation-name: div1;
 animation-duration: 1.5s;
 animation-iteration-count: infinite;
}

a{
	list-style: none;
	color: black;
}
@keyframes div1{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(300px);
	}
}

div:nth-of-type(2){
 color:darkorchid;
 animation-fill-mode: forwards;
 animation-name: div2;
 animation-duration: 1.5s;
 animation-iteration-count: infinite;
 animation-delay: 1s;
 animation-direction: alternate;
}
@keyframes div2{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(250px);
	}
}

div:nth-of-type(3){
color:magenta;
animation-fill-mode: forwards;
animation-name: div3;
 animation-duration: 1.5s;
 animation-iteration-count: infinite;
  animation-delay: 2s;
 animation-direction: alternate;
}
@keyframes div3{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(350px);
	}
}

div:nth-of-type(4){
animation-fill-mode: forwards;
animation-name: div4;
 animation-duration: 1s;
 animation-iteration-count: infinite;
  animation-delay: 3s;
 animation-direction: alternate;
}
@keyframes div4{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(200px);
	}
}

div:nth-of-type(5){
color:yellow;
animation-fill-mode: forwards;
animation-name: div5;
 animation-duration: 2s;
 animation-iteration-count: infinite;
  animation-delay: 4s;
 animation-direction: alternate;
}
@keyframes div5{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(400px);
	}
}
div:nth-of-type(6){
color:aqua;
animation-fill-mode: forwards;
animation-name: div6;
 animation-duration: 2s;
 animation-iteration-count: infinite;
  animation-delay: 5s;
 animation-direction: alternate;
}
@keyframes div6{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(250px);
	}
}
div:nth-of-type(7){
color:blueviolet;
animation-fill-mode: forwards;
animation-name: div7;
 animation-duration: 1.5s;
 animation-iteration-count: infinite;
  animation-delay: 6s;
 animation-direction: alternate;
}
@keyframes div7{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(300px);
	}
}

div:nth-of-type(8){
color: tomato;
animation-fill-mode: forwards;
animation-name: div8;
 animation-duration: 1.8s;
 animation-iteration-count: infinite;
  animation-delay: 7s;
 animation-direction: alternate;
}
@keyframes div8{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(350px);
	}
}

#out1_out{
	font-size:50pt;
	background: transparent;
	height: auto;
	border-radius: 10px;
	width:90px;
	animation: out1 5s ease 0s infinite alternate;
    animation-fill-mode: forwards;
}	
 @keyframes out1{
        from{
            transform: translate(0px, 0px);
			}
			25%{
			transform: translate(250px, 250px);
			} 

			50%{
			transform: translate(500px, 0px);
			}

			75%{
			transform: translate(750px, 250px);
			}
			to{
			transform: translate(1000px, 0px);
			}
    }

#div{
	position: relative;
	float:left;
}
#span1{
	font-weight: 900;
	text-shadow: -0px 8px 10px black;
	
}
#text1{
	border-radius: 20px;
	background-color: transparent;
	margin: 10px;
	color:white;
}
#color1{
	background-color: rgb(51,51,51);
}
#range1{
	width:30px;
	display:
}

#div2{
	display: inline-block;
	border: 1px solid black;
	width:400px;
	background-color: rgb(51,51,51);
	border-radius: 30px;
	text-align: center;
	color:white;
	position:absolute;
	top:700px;
	box-shadow: 5px 5px 5px white;
}

header div{
	display: inline-block;
	font-size: 50pt;
	margin: 30px;
}




