
ul#menu2, ul#menu2 ul {
	list-style-type: none;
}

ul#menu2 {
	background-image: linear-gradient(to bottom, #8ac3ff, #234fff);
	border-radius: 5px;
	width: 760px;
	height: 50px;
	padding: 0px;
	float: left;
}

ul#menu2 > li li {
	text-align: left;
	color: white;
	text-shadow: none;
	opacity: 0;
}

ul#menu2 > li li:hover {
	border-left: 5px solid mediumseagreen;
	color: lightgreen;
}


ul#menu2 > li {
	float: left;
	text-align: center;
	margin: 0.6em;
	width: 160px;
	height: 25px;
	overflow: hidden;
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px 5px white;
}

ul#menu2 > li > ul {
	margin-top: 20px;
}

ul#menu2 > li:hover {
	height: auto;
	background-color: rgba(100, 100, 100, 0.5);
	text-shadow: 2px 2px 0px white, 3px 3px 5px white;
	color: transparent;
}

ul#menu2 > li:hover li{
	opacity: 1;
}


ul#menu2 a {
	color: inherit;
	text-decoration: none;
}