* {
	box-sizing: border-box;
}

html, body {
	width:100%;
	height : 100%;
	margin:0;
	padding:0;
}
#toolbar {
	width : 100%;
	height : 50px;
	border : 2px dotted lime;
}

iframe#editor {
	height:730px;
	width:100%;
	margin:0;
	padding:0;
	border-width: 1px;
	display:block;
}

iframe#colorSel {
	display:block;
	width:100%;
	height:300px;
}

button {
	height : 30px;
	text-align: center;
	font-weight : bold;
	color:black;
}

button.off {
	background-color : #505050;
	color: white;
}

div#colorDv {
	position : absolute;
	top:188px;
	left:225px;
	width:500px;
	height: 500px;
	background-color:#ffffff;

}