html {
	height: 100%;
}
body {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: "맑은 고딕", "고딕", "Serif";
}

fieldset.controlPanel {
	width: 300px;
	background-color: rgba(40, 40, 40, 0.5);
	border-radius: 2%;
	border: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	color: white;

}

div[name=uiRadialCtr] {
	display: none;
}

div[name=resultViewer] {
	width: 300px;
	height: 200px;
	border: 1px solid darkred;
}


div[name=controlPanelSubject] {
	text-align: right;
}


div[name=uiColorInputGroup] {
	float: right;
}


input[name=uiLinearDirectionCustom] {
	display: none;
}

ul[name=uiColorList] {
	border: 1px solid black;
	height: 100px;
	padding-left: 0px;
	text-align: right;
	list-style: none;
	overflow-x: hidden;
	overflow: scroll;
}


button[name=uiHideButton] {
	border: 1px solid white;
	padding-left: 5px;
	padding-right: 5px;
}

div.controlGroup {
	padding: 5px;
}
