@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
	h1{
		color:rgba(220,20,60,0.5);
	}
	div{
		border:5px solid mediumpurple;
		width:300px;
		height:150px;
	}
	fieldset legend{
		font-weight:bold;
	}
	fieldset{
		background-color: antiquewhite;
		height:300px;

	}
	fieldset  span{
		width:60px;
		display: inline-block;
		color: mediumpurple;
		font-family: 'Jeju Gothic', serif;
		font-weight: bold;
	}
	figcaption{
		width:120px;
	}	

	select, input{
		width:230px;
		margin:15px 0px;
	}
	#degreeSpan{
		display: inline;
		margin:0px 10px;
	}
	input{
		width:230px;
	}
	.figureInline{
		display: inline-block;
		width:40%;
		height:200px;
		float: left;
	}