@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC');

*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  /*주석 제거시 .obj 탑정렬 안됨*/
  /*display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
header {
background-color: #fff;
color: #000;
padding: 15px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  display: white;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.obj{
    color: black;
    border: 1px;
}
body {
  background: #fff;
  font-family: 'Alegreya Sans SC', sans-serif;
}
main{
  position: center;
}
.social-links {
  max-width: 17.7525em;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.social-link {
  width: 2.5em;
  height: 2.5em;
  font-size: 2.25em;
  text-decoration: none;
  background: #FCC;
  /*background: fff;
  /*아이콘01 배경색*/
  color: #800000;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0.065em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}
.social-link:hover, .social-link:focus, .social-link:active {
  background: #000;
  color: #fff;
  z-index: 1;
  box-shadow: 0 0 1.125em 0 rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .7s;
  transition: .7s;
}
.social-link:hover:after, .social-link:focus:after, .social-link:active:after {
  bottom: 1em;
  -webkit-transition: .7s;
  transition: .7s;
}
.social-link:after {
  content: attr(title);
  width: 100%;
  text-align: center;
  left: 0;
  color: white;
  bottom: -6.75em;
  font-size: .35em;
  position: absolute;
  -webkit-transition: .7s;
  transition: .7s;
  font-family: 'Alegreya Sans SC', sans-serif;
}
