@keyframes Template01{
    from {
        background-color: red;
    }
    33.33% {
        background-color: green;
    }
    66.66% {
        background-color: blue;
    }
    to {
        background-color: red;
    }
}


div {
    width:100px;
    height:100px;
    margin: 5px;

    clear:none;
    float:left;

    background-color: rgba(255, 192, 64, 0.5);
    border:1px solid black;

    transition-property: all;
    transition-duration: 2000ms;
}

div:hover {
    height: 400px;
    /* transform: scaleY(4); */
    transform-origin: top;  
}

div.default:hover {
    background-image: linear-gradient( 45deg, red, blue, red );
}

div:nth-of-type(1):hover {
    transition-timing-function: linear;
}

div:nth-of-type(2):hover {
    transition-timing-function: ease;
}

div:nth-of-type(3):hover {
    transition-timing-function: ease-in;
}

div:nth-of-type(4):hover {
    transition-timing-function: ease-out;
}

div:nth-of-type(5):hover {
    transition-timing-function: ease-in-out;
}

div:nth-of-type(6):hover {
    transition-timing-function: step-start;
}

div:nth-of-type(7):hover {
    transition-timing-function: step-end;
}

div:nth-of-type(8):hover {
    animation-name: Template01;
    animation-iteration-count: infinite;
    animation-duration: 2000ms; 
}