@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
*{
    font-family: 'Jeju Hallasan', cursive;
}
header> h1{
    color:lightcoral;
    background-color: cornsilk;
    opacity: 0.8;
}
    div.box{
        width:100px; 
        height:100px; 
        border:1px solid greenyellow;
        background:linear-gradient(lightgreen, transparent);
    }
    .move{
       transform: translate(0, 0);
        /*transform: translate(100px, -30px);*/
    }
    .zoom{
        
        /*transform: scale(2,2);*/
        transform-origin: left top;
    }
    .clock{
        transform: rotate(0deg);
        /*transform-origin: right top;*/
    }
    .skew{
        transform: skew(0,0) ;
        /*transform: skew(0,-20deg) ;*/
    }
    article div{
        float:left;
        margin:10px;
    }
    article hr{
        clear:both;
    }