/*
▣실기시험 1 (40점 만점)
	- 작성자 : 유도연(5강의실)
	- 주제 : 
	- 목적 : 
	- 기능 :
*/
/*
*for Smart Phone (Mobile First)
*/

[class*="col-"]{
	width:100%;
}

@media screen and (min-width: 600px) {
	/*
	 * For Tablets
	 */
	.col-m-1   {width:  8.33%;}
	.col-m-2   {width:  16.66%;}
	.col-m-3   {width:  25%;}
	.col-m-4   {width:  33.33%;}
	.col-m-5   {width:  41.66%;}
	.col-m-6   {width:  49.5%;}
	.col-m-7   {width:  58.33%;}
	.col-m-8   {width:  66.66%;}
	.col-m-9   {width:  75%;}
	.col-m-10  {width:  83.33%;}
	.col-m-11  {width:  91.66%;}
	.col-m-12  {width:  100%;}
}

@media screen and (min-width: 768px) {
	/*
	 * For Desktop
	 */
	.col-1   {width:  8.33%;}
	.col-2   {width:  16.66%;}
	.col-3   {width:  25%;}
	.col-4   {width:  33.33%;}
	.col-5   {width:  41.66%;}
	.col-6   {width:  49.5%;}
	.col-7   {width:  58.33%;}
	.col-8   {width:  66.66%;}
	.col-9   {width:  75%;}
	.col-10  {width:  83.33%;}
	.col-11  {width:  91.66%;}
	.col-12  {width:  100%;}
}
/*
------header영역 움직이는 로고--------
*/
h1 {
  width: 100%;  
  height: 100%;
  background: linear-gradient(to left, turquoise , whitesmoke);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  height: 100px;
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 80px;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .3s; }
h1 span:nth-child(4) { animation-delay: .5s; }
h1 span:nth-child(5) { animation-delay: .7s; }
h1 span:nth-child(6) { animation-delay: .9s; }
h1 span:nth-child(7) { animation-delay: .2s; }
h1 span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0px #CCC,
                 5px 60px 20px rgba(0, 0, 0, 0.5);
  }
}
/*
------header영역 움직이는 로고--------끝
*/
#nav {
        list-style-type: none;
        height: 45px;
        padding : 6px 7px;
        margin:0;
        background:lightslategray ;
        border-radius: 1.5em;
    }
#nav li {
    float : left;
    position:relative;
    margin: 5px 10px;
    padding: 0;
}

#nav li a {
display: block;
font-family: "굴림";
font-weight: 600;
font-size: 1em;
padding:10px 20px;
color:white;
text-decoration: none;
margin: 0;
border-radius: 1.5em;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);

}
#nav li:hover a{
    background:lightslategray;
    color: lime;
    text-shadow:0px 1px 1px rgba(255,255,255,0.5);
    border-radius: 0;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left:0;
    top: 45px;
    width: 150px;
    background: #ddd;
    border:1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    opacity:0;
}
#nav ul li {
    float : none;
    margin : 0;
    padding: 0;
height:0;
overflow: hidden;
}
#nav ul a{
    font-weight: narmal;
    text-shadow: 0 1px 0 #fff;
    color: black;
}
#nav ul li:hover a {
    background: black;
    color: #fff;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0;
}
#nav ul li:first-child > a{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#nav ul li:last-child > a{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#nav li:hover  ul {  
	opacity: 1;   
  }

#nav li:hover ul li {
	height:35px; 
	overflow:visible; 
	padding:0; 
  }
    section aside {
        float: left;
        width: 29%;
    }
    section article {
        float: left;
        width: 69%;
    }
	.menu {
		float: left;
	}
    .menu ul {
        list-style-type: none;
        list-style-position: inside;
        margin: 0px;
        padding: 10px;
    }
    .menu li {
        background-image: linear-gradient(to right, orange , transparent);
        margin-top: 10px;
		padding: 10px;
    }
	.art {
		float: left;

	}
    figure {
        width: 100%;
        margin: 10px 10px;
        padding: 0;
    }
	
/*움짤이미지 태그 부분.*/
.sec_umm {
	clear : both;
	width: 100%;
	height: 300px;
}
.ol {
	list-style-type: none;
	padding: 0;
	
}
.asi_umm li{
    margin-top: 9px;
    padding: 10px;
    background-image: linear-gradient(to right, orange , transparent);
}
.art_umm{
	border: 2px solid black;
	height: 100%;
}
.ifr {
    width: 100%;
    height: 300px;
}
.deco{
	text-decoration:none;
}
