/*
▣실기시험 1 (40점 만점)
	- 작성자 : 유도연(5강의실)
	- 주제 : 
	- 목적 : 
	- 기능 :
*/
/*
*for Smart Phone (Mobile First)
*/

[class*="col-"]{
	width:100%;
}

@media screen and (min-width: 600px) {
	/*
	 * For Tablets
	 */
	.col-m-1   {width:  8.33%;}
	.col-m-2   {width:  16.66%;}
	.col-m-3   {width:  25%;}
	.col-m-4   {width:  33.33%;}
	.col-m-5   {width:  41.66%;}
	.col-m-6   {width:  49.5%;}
	.col-m-7   {width:  58.33%;}
	.col-m-8   {width:  66.66%;}
	.col-m-9   {width:  75%;}
	.col-m-10  {width:  83.33%;}
	.col-m-11  {width:  91.66%;}
	.col-m-12  {width:  100%;}
}

@media screen and (min-width: 768px) {
	/*
	 * For Desktop
	 */
	.col-1   {width:  8.33%;}
	.col-2   {width:  16.66%;}
	.col-3   {width:  25%;}
	.col-4   {width:  33.33%;}
	.col-5   {width:  41.66%;}
	.col-6   {width:  49.5%;}
	.col-7   {width:  58.33%;}
	.col-8   {width:  66.66%;}
	.col-9   {width:  75%;}
	.col-10  {width:  83.33%;}
	.col-11  {width:  91.66%;}
	.col-12  {width:  100%;}
}
*{
	box-sizing: border-box;
}

/*
----제목 부분 태그----
*/
	body {
		background-color: black;
		margin: 0;
	}
	fieldset {
		color:white;
	}
	.title {
		width: 100%;
		height: auto;
		color:white;
	}
	.deco{
		text-decoration:none;
	}
	span {
		display: inline-block;
		text-align: center;
		margin: 1px auto;
		padding: 0;
		width: 49.6%;
		height: 30px;
	}

	.last {
		margin: 1px auto;
		width: 99.5%;
		height: 30px;
		text-align: center;
	}

/*
----메인 바디 글 부분----
*/
	h1, h3{
		color:white;
	}
	section {
		float:left;
		width:60%;
		padding:5px;
	}
	section article{
		float:left;
		width:95%;
		height:auto;	
		margin:5px;
		padding:10px;	
		border:1px solid #ccc;
	}

/*
----Transform 부분----
*/
	.at0:hover, .at1:hover, .at2:hover, .at3:hover, .at4:hover, .at5:hover, .at6:hover {
		transition:all 1s;
		transform:scale(1.7,1.5);
		box-shadow:5px 5px 3px lightslategrey;
		transform-origin:left top;
		}

	aside{
		float:right;
		width:35%;
		height:auto;
		margin-top:120px;
		border:1px solid darkgreen;
		background-color:#ffc;
		text-align:center;
	}
	footer{
		clear:both;
		width: 100%;
		margin-bottom:0;
		background-color:#333;
		color:white;	
		text-align:center;
	}

	.at0, .at1, .at2, .at3, .at4, .at5, .at6 {
		transition:3s;
		-webkit-transition:2s;
		-moz-transition:2s;
		-o-transition:2s;
		-ms-transition:2s;
	}
	.at0:hover{
		background-color:lightpink;
		border:1px solid limegreen;
	}
	.at1:hover{
		background-color:#cf9;
		border:1px solid green;
	}
	.at2:hover{
		background-color:#a2d0ff;;
		border:1px solid blue;
	}
	.at3:hover{
		background-color:#ebcbfe;
		border:1px solid purple;
	}
	.at4:hover{
		background-color:#fc3;
		border:1px solid red;
	}
	.at5:hover{
		background-color:lightgreen;
		border:1px solid orange;
	}
	.at6:hover{
		background-color:lightseagreen;
		border:1px solid tomato;
	}