
/*bcakground_css*/

/*font*/
@font-face {
        font-family: 'y220';
        src: url(../fonts/y220.woff);
}
@font-face {
        font-family: 'y120';
        src: url(../fonts/y120.woff);
}

/*content*/
header h1 {
        margin: 45px 0px; 
        background-color: papayawhip;
        
        text-align: center;
        font-family: 'y220';
        font-weight: bold;
}
footer h1 {
        text-align: right;

        font-family: 'y220';
        font-style: italic;
}
h1>span {
        color : red;
}
fieldset { 
    margin:55px auto;
    border: 5px double black;
    padding: 20px;
}
legend {
    font-family: 'y220';
    font-size: 18pt;
    font-weight: bold;
    text-shadow: 2px 2px 2px deeppink;
} 
p {
    text-align: right;
}
.r {
    color:red;
}
.g {
    color:green;
}
.b {
    color:blue;
}
#result_out {
    width:200px;
    height: 200px;
    margin: 30px auto;
    border: 3px solid black;
}

label, input, select {
    margin: 20px 10px;
    font-family: 'y120'
}
b,span {
    font-family: 'y120';
}

select {
    height: 23px;
}