
/*start_css*/

/*For mobile*/
[class*="col-"] {
	width:100%;
}

body{
    background-color: black;
}
h1 {
    color:ghostwhite;
}

h1,h2 {
    margin-left: 20px;
    margin-top: 10px;
}

/*hello*/
@keyframes hello {
    to {
        transform: scale(1.5,1.5) rotateX(90deg);
    }
}
.hello {
    transform-origin: left;
   
    animation: hello 0.5s;
    animation-fill-mode: forwards;
}

/*html*/
@keyframes html{
    from {
        color:black;
        transform: translateX(200px);
    }
    to {
        color:ghostwhite;
        transform: translateX(20px);
    }    

}
.html {
    transform-origin: right;
    
    animation: html 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/*css*/
@keyframes css{
    from {
        color:black;
        transform: translateX(200px);
    }
    to {
        color:ghostwhite;
        transform: translateX(80px);
    }    

}
.css {
    transform-origin: right;
    
    animation: css 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

/*java*/
@keyframes java{
    from {
        color:black;
        transform: translateX(200px);
    }
    to {
        color:ghostwhite;
        transform: translateX(120px);
    }    

}
.java {
    transform-origin: right;
    
    animation: java 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

/*world*/
@keyframes world{
    to {
        color:ghostwhite;
        transform: scale(2,2);
        text-shadow: 3px 3px 3px lightgray;
    }    

}
.world {
    transform-origin: left;

    animation: world 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    
    color: black;
}



/*For desktop */
@media screen and (min-width:786px) {
	
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

body{
    background-color: black;
}
h1 {
    color:ghostwhite;
}

h1,h2 {
    margin-left: 150px;
    margin-top: 30px;
}

/*hello*/
@keyframes hello {
    to {
        transform: scale(1.5,1.5) rotateX(90deg);
    }
}
.hello {
    transform-origin: left;
    
    animation: hello 0.5s;
    animation-fill-mode: forwards;
}

/*html*/
@keyframes html{
    from {
        color:black;
        transform: translateX(700px);
    }
    to {
        color:ghostwhite;
        transform: translateX(50px);
    }    

}
.html {
    transform-origin: right;
    
    animation: html 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/*css*/
@keyframes css{
    from {
        color:black;
        transform: translateX(700px);
    }
    to {
        color:ghostwhite;
        transform: translateX(120px);
    }    

}
.css {
    transform-origin: right;
    
    animation: css 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

/*java*/
@keyframes java{
    from {
        color:black;
        transform: translateX(700px);
    }
    to {
        color:ghostwhite;
        transform: translateX(170px);
    }    

}
.java {
    transform-origin: right;
    
    animation: java 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

/*world*/
@keyframes world{
    to {
        color:ghostwhite;
        transform: scale(2,2);
        text-shadow: 3px 3px 3px lightgray;
    }    

}
.world {
    margin-top: 60px;

    transform-origin: left;
    
    animation: world 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    
    color: black;
}
