/*button style*/
	.button {
			background-color: Crimson;
			border: none;
			border-radius: 100px;
			color: white;
			padding: 10px 10px;
			text-align: center;
			text-decoration: none;
			font-size: 26px;
			margin: 2px 2px;
			cursor: pointer;
			position: relative;
			float : left;
	}
	.button1 {
		background-color: darkgreen;
		color: white;
		border: 4px solid DarkRed;
	}
	.button1:hover {
		background-color: DarkOrange;
		color: white;
}

/*default style*/
#font {
		color : rgba(255,255,255,0.9);
	}
#font, .button{
		font-family: 'Nanum Pen Script';
	}
#text, #story {
	color : rgba(255,255,255,0.6);
}
/*header style*/
	@keyframes logo1 {
			from {
				color : #FFA07A;
			}
			to {
				color : #40E0D0;
			}
		
	}
	.logo1 {
		animation-name: logo1;
		animation-duration: 3s;
		animation-iteration-count : infinite;
		text-align: center;
	}
	.logo1 {
		font-family: 'Noto Sans KR';
	}
	

/******반응형 CSS*******/
/*Desktop*/
@media screen and (min-width:768px) {
	header {
		height: 100px;
	}
	.one {
		width : 40%;
		background-color: rgba(0,0,0,0.6);
		float: left;
		}
	#poster {
		width : 92%;
		margin : 0 20px;
		margin-top : 20px;
	}
	#intro {
		width : 92%;
		margin : 10px 20px;
		margin-top : 0;
		color : white;
		font-size: 9pt;
	}
	.two {
		margin-left: 41%;
		font-size: 9.6pt;
		padding : 13px;
		background-color : rgba(255,255,255,0.1);
		box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
		height : auto;
	}
	#research {
		border: none;
	}
	#making {
		margin-top : 10px;
		margin-left: 5px;
		border : 3px solid rgba(255,255,255,0.8);
	}
	#story {
		width : 45%;
		float: left;
		margin-top : 10px;
		padding : 5px;
	}
	#video {
		width : 50%;
		margin-top : 10px;
		margin-left: 15px;
	}
	
}
/*Tablet - [ipad]Portrait version*/
@media screen and (max-width:768px) {
	header {
		display: none;
	}
	.one {
		width : 40%;
		background-color: black;
		float: left;
		}
	#poster {
		width : 93%;
		margin : 10px;
	}
	#intro {
		width : 93%;
		margin-top :0;
		margin : 10px;
		color : white;
		font-size: 9pt;
	}
	.two {
		margin-left: 40%;
		font-size: 9.6pt;
		padding : 10px;
		background-color : rgba(255,255,255,0.1);
		height : auto;
	}
	#research {
		border: none;
	}
	#making {
		display: none;
	}
	#story {
		display: none;
	}
	#video {
		width : 100%;
		margin-top : 10px;
	}
}
/*Smart Phone - [GalasyS6]Portrait version*/
@media screen and (max-width:600px) {
	body {
		margin: 0;
		padding: 0;
	}
	header {
		display: none;
	}
	.one {
		width : 100%;
		background-color: rgba(0,0,0,0.6);
		}
	#poster {
		width : 93%;
		margin : 10px;
	}
	#intro {
		width : 93%;
		margin : 10px;
		margin-top : 0;
		color : white;
		font-size: 10pt;
	}
	.two {
		margin-left: 0;
		margin :0;
		padding : 0;
		width : 100%;
		font-size: 10pt;
		background-color : rgba(255,255,255,0.1);
	}
	#research {
		border: none;
	}
	#making {
		display: none;
	}
	#story {
		display: none;
	}
	#video {
		width : 100%;
	}
}