
/*header style*/
	body {
		background-image: url('img/letterbg.png');
		font-family: 'Jeju Gothic';
	}
	header {
		background-image: url('img/merrychristmas.jpg');
		box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
	}
	fieldset {
		font-size: 11pt;
		background-color: rgba(255,255,255,0.5);
		border : 1px dashed white;
		color : white;
	}
	#line {
		color : lightgray;
}

/*table tag style*/
	tr, td {
		border: 1px dotted DarkSalmon;
		padding : 20px;
		text-align: center;
		background-color: white;
	}

	#border_output{
		border : 3px dashed black;
		background-color: rgba(255,255,255,0.5)
}

/*cube style*/
	#red {
		color : red;	
	}
	#blue {
		color : blue;
	}
	#green {
		color : green;
	}
	.front {
		transform:  translateZ(217px);
	}
	.bottom {
		transform: translateY(217px) rotateX(-90deg);
	}
	.top {
		transform: translateY(-217px) rotateX(90deg);
	}
	.back {
		transform: translateZ(-217px) rotateX(180deg);
}

/*tooltip stylesheet*/
	.tooltip {
    position: relative;
    display: inline-block;
	border-radius: 100%;
	background-color: rgba(233,150,122,0.6);
	}

	.tooltip .tooltiptext {
    visibility: hidden;
    width:150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
	}

	.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/******반응형 CSS*******/

/*Desktop*/
@media screen and (min-width:768px) {
	body {
		margin : 0px auto;
	}
	header {
		height:225px;
	}
	fieldset {
		width : 30%;
		float : left;
		margin : 5px;
		height : auto;
	}
	#border_output{
		width : 500px;
		height : 500px;
		margin : 20px auto;
	}
	.cube{
		transform-style: preserve-3d;
		width : 436px;
		height : 436px;
		margin : 20px auto;    
		position: relative;
		font-family: 'Jeju Gothic';
	}
	.schedule {
		width: 436px;
		height : 436px;
		display: block;
		position: absolute;
		text-align: center;
	}
}

/*Tablet - [ipad]Portrait version*/
@media screen and (max-width:768px) {
	body {
		margin : 0px auto;
	}
	header {
		height:280px;
	}
	fieldset {
		width : 27%;
		float : left;
		margin : 8px;
		height : auto;
	}
	#border_output{
		width : 500px;
		height : 500px;
		margin : 20px auto;
	}
	.cube{
		transform-style: preserve-3d;
		width : 436px;
		height : 436px;
		margin : 20px auto;    
		position: relative;
		font-family: 'Jeju Gothic';
	}
	.schedule {
		width: 436px;
		height : 436px;
		display: block;
		position: absolute;
		text-align: center;
	}
}

/*Smart Phone - [GalasyS6]Portrait version*/
@media screen and (max-width:600px) {
	tr, td {
		display: none;
	}
	body {
		margin : 0px auto;
	}
	header {
		height:440px;
	}
	fieldset {
		width : 300px;
		height : auto;
	}
	fieldset:nth-of-type(1) {
		display: none;
	}
	#border_output{
		width : 300px;
		height : 300px;
		margin : 20px auto;
	}
	.cube{
		display: none;
	}
	.schedule {
		display: none;
	}
	p {
		display: none;
	}
}