/*
▣ 실기시험 2 (40점 만점)
	- 작성자 : 민혜진(5강의실)
	- 주 제 : 세계지도 도시 이미지창
	- 목 적 : 애니메이션 활용하기
	- 기 능 : 텍스트 클릭시 이미지 팝업창 애니메이션 효과 적용
*/
@font-face {
	font-family: FredokaOne;
	src : url('../fonts/FredokaOne-Regular.woff'); 
}
@font-face {
	font-family: Fredericka;
	src : url('../fonts/FrederickatheGreat-Regular.woff'); 
}

header {
	background-color: #e8dfec;
	padding: 15px;
	text-align: center;
	font-family: FredokaOne;
}
.title_map {
	letter-spacing: 0.15em;
	font-variant: small-caps;
	text-shadow: 1px 1px 3px #4d004d, 0px -5px 6px #ffccd9, -3px -7px 10px #cc2900, -5px -12px 15px #ffd633;
}
article img {
	width: 100%;
	z-index: 1;
}
.img_map {
	background: linear-gradient(45deg, dodgerblue, transparent);
}
.imgBack {
	position: relative;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
	font-family: Fredericka;
	font-weight: bold;
}
.pop_seoul {
    visibility: hidden;
    width: 160px;
    background-color: #ffd9b3;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 65%;
    margin-left: -55px;
}
.pop_seoul::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 35%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffd9b3 transparent transparent transparent;
}
.pop_china {
    visibility: hidden;
    width: 160px;
    background-color: #ffd9b3;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
}
.pop_china::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffd9b3 transparent transparent transparent;
}

/* London, Newyork, Sydney IMGPOPUP 위치 */
.popup .popupimg {
    visibility: hidden;
    width: 160px;
    background-color: #ffd9b3;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.popup .popupimg::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffd9b3 transparent transparent transparent;
}
.pop_peru{
	visibility: hidden;
    width: 160px;
    background-color: #ffd9b3;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
	bottom: -118px;
    left: 50%;
    margin-left: -80px;
}
.pop_peru::after {
	content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffd9b3 transparent;
}
.pop_kenya{
	visibility: hidden;
    width: 160px;
    background-color: #ffd9b3;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
	bottom: -125px;
    left: 50%;
    margin-left: -80px;
}
.pop_kenya::after {
	content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffd9b3 transparent;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 8s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
	50% {opacity:1;}
	100% {opacity: 0;}
}

/* 텍스트 위치 설정 */
.direc_seoul {
	position: absolute;
	left: 82.5%;
	top: 40%;
	font-size: 8px;
}
.direc_china {
	position: absolute;
	left: 75%;
	top: 36%;
	font-size: 8px;
}
.direc_london {
	position: absolute;
	left: 44%;
	top: 31%;
	font-size: 8px;
}
.direc_newyork {
	position: absolute;
	left: 25%;
	top: 36%;
	font-size: 8px;
}
.direc_sydney {
	position: absolute;
	left: 87%;
	top: 72%;
	font-size: 8px;
}
.direc_peru {
	position: absolute;
	left: 27%;
	top: 62%;
	font-size: 8px;
}
.direc_kenya {
	position: absolute;
	left: 54%;
	top: 58%;
	font-size: 8px;
}

footer {
	background-color: #0000b3;
	padding: 10px;
	text-align: center;
	color:  #e6e6ff;
}