div.Box {
    width: 100px;
    height: 100px;

    background-image: linear-gradient( 0deg, rgba(255, 0, 0, 0.75), transparent );
    border: 1px solid black;
}

div.content {
    margin-left: 50px;
    padding: 40px;
    width: 320px;
    height: 97.5%;
    clear: none;
    float: left;
}

div.controller {
    margin-right: 50px;
    width: 400px;
    height: 97.5%;
    clear: none;
    float: right;
    border: 1px dotted black;
}

fieldset {
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
}

fieldset fieldset {
    height: 100px;
}

hr {
    width: 90%;
}